services:
  postgres:

    container_name: postgres
    image: postgres
    environment:
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: admin
        POSTGRES_DB: restaurant_db
    ports:
      - '5432:5432'
   